In [4]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [5]:
loan_data=pd.read_csv("../datasets/income.csv")
loan_data

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0
...,...,...,...,...,...,...,...
48837,39,215419,13,0,0,36,0
48838,64,321403,9,0,0,40,0
48839,38,374983,13,0,0,50,0
48840,44,83891,13,5455,0,40,0
48841,35,182148,13,0,0,60,1

In [7]:
loan_data.columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income_level'],
      dtype='object')

In [8]:
loan_data.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [9]:
#let us split the data in input and output
X=loan_data.iloc[:,0:6]
y=loan_data.iloc[:,6]

In [10]:
#split the dataset
X_train,X_test, y_train,y_test=train_test_split(X,y,test_size=0.2)

In [11]:
#create adaboost classifier
ada_model=AdaBoostClassifier(n_estimators=100,learning_rate=1)

In [12]:
#n_estimators= number of weak learners
#learning rate, it contributes weights of weak learners
#train the model
model=ada_model.fit(X_train,y_train)

In [13]:
#predict the results
y_predicted=model.predict(X_test)

In [14]:
print("accuracy: ",metrics.accuracy_score(y_test,y_predicted))

accuracy:  0.8415395639267069

In [15]:
#let's try for another base model
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [16]:
#here base model is changed
Ada_model=AdaBoostClassifier(n_estimators=50,base_estimator=lr,learning_rate=1)

In [17]:
model=Ada_model.fit(X_train,y_train)

In [18]:
y_predicted=model.predict(X_test)

In [19]:
print("accuracy: ",metrics.accuracy_score(y_test,y_predicted))

accuracy:  0.8005937148121609

In [21]:
import sklearn
print(sklearn.__version__)

1.3.0